.appContainer {
  text-align: center;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeButtons {
  flex-direction: column;
}

/* .inGameButtons {

} */
